body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: red;
}

.navbar input {
  width: 400px;
  padding: 8px;
}

.content {
  padding: 20px 40px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.video-card {
  cursor: pointer;
}

.video-card img {
  width: 100%;
  border-radius: 8px;
}

.video-card p {
  font-size: 14px;
  font-weight: 500;
}

.watch-page {
  display: flex;
  gap: 30px;
}

.video-section {
  flex: 3;
}

.ai-section {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
}
.chat-box {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.input-area {
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 8px;
}

.input-area button {
  padding: 8px 12px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
